application: [replace with your app id from developer console]
version: [start with 1 and increment on each deploy]
runtime: php55
api_version: 1
threadsafe: no

handlers:
- url: /favicon\.ico
  static_files: favicon.ico
  upload: favicon\.ico

- url: /view/(\w+)/(\w+)
  script: scripts/view.php
  
- url: /fetch/(\w+)
  script: scripts/fetch.php
  login: admin

- url: /version
  script: scripts/version.php
  login: admin

- url: /.*
  script: scripts/index.php
  
skip_files:
- ^tests/.*
- ^vendor/phpunit/.*
- ^vendor/bin/.*
- ^vendor/phpdocumentor/.*
- ^vendor/phpspec/.*
- ^vendor/sebastian/.*
- ^vendor/symfony/.*
- ^vendor/doctrine/.*