application: [replace with your app id from developer console]
version: [start with 1 and increment on each deploy]
runtime: php55
api_version: 1
threadsafe: true
instance_class: F1
automatic_scaling:
  min_idle_instances: 0
  max_idle_instances: 1
  min_pending_latency: 3000ms
  max_pending_latency: 5000ms

handlers:
- url: /favicon\.ico
  static_files: favicon.ico
  upload: favicon\.ico

- url: /view/(\w+)/(\w+)
  script: scripts/view.php
  
- url: /fetch/(\w+)
  script: scripts/fetch.php
  login: admin

- url: /version
  script: scripts/version.php
  login: admin

- url: /.*
  script: scripts/index.php
  
skip_files:
- ^tests/.*
- ^vendor/phpunit/.*
- ^vendor/bin/.*
- ^vendor/phpdocumentor/.*
- ^vendor/phpspec/.*
- ^vendor/sebastian/.*
- ^vendor/symfony/.*
- ^vendor/doctrine/.*